website.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jose Luiz (Modem Media) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="header-info">
		<xs:annotation>
			<xs:documentation>Uma header-info representa as informações do header html de uma seção do site.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="author" type="xs:string"/>
			<xs:attribute name="keywords" type="xs:string"/>
			<xs:attribute name="description" type="xs:string"/>
			<xs:attribute name="favicon" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="header-area">
		<xs:annotation>
			<xs:documentation>A header-area corresponde a area superior da tela, no leiaute da pagina, onde ficam o menu institucional, menu de segmentos, logos e graficos.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ad-main" type="ad-mainType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>grafico principal do header da pagina</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="mini-menu" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="left-area">
		<xs:annotation>
			<xs:documentation>A left-area corresponde a area esquerda da tela, no leiaute da pagina, onde ficam o menu operacional e opcionalmente alguns destaques graficos com links, etc.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="menu" maxOccurs="2"/>
				<xs:element ref="destaque" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="footer-area" type="xs:string">
		<xs:annotation>
			<xs:documentation>A footer-area corresponde a area inferior da tela, no leiaute da pagina, onde ficam as anotacoes de Copyright e infos Institucionais,  etc.</xs:documentation>
			<xs:documentation>A footer-area corresponde a area inferior da tela, no leiaute da pagina, onde ficam as anotacoes de Copyright e infos Institucionais,  etc.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="image">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="imageType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="link">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="linkType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="text" type="inner-text"/>
	<xs:complexType name="inner-text" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="br"/>
			<xs:element name="u" type="inner-paragraph"/>
			<xs:element name="b">
				<xs:complexType mixed="true">
					<xs:complexContent mixed="true">
						<xs:extension base="inner-paragraph"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="i" type="inner-paragraph"/>
			<xs:element name="ul">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="ol">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="p" type="inner-paragraph"/>
			<xs:element ref="image"/>
			<xs:element ref="link"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="inner-paragraph">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="i" type="inner-paragraph"/>
			<xs:element name="u" type="inner-paragraph"/>
			<xs:element name="b" type="inner-paragraph"/>
			<xs:element name="ul">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="ol">
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="li" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element ref="link"/>
			<xs:element ref="image"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="inner-menu">
		<xs:sequence>
			<xs:element name="menu-section" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="title"/>
						<xs:element name="menu-item" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="linkType">
										<xs:attribute name="id" type="xs:string"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="menu-folder" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="title"/>
									<xs:element name="menu-subitem" type="linkType" maxOccurs="unbounded"/>
								</xs:sequence>
								<xs:attribute name="id" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="inner-mini-menu">
		<xs:sequence>
			<xs:element name="menu-item" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="image"/>
						<xs:element name="imageOn" type="imageType" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="href" type="xs:string" use="required"/>
					<xs:attribute name="onclick" type="xs:string"/>
					<xs:attribute name="type" type="xs:NMTOKEN"/>
					<xs:attribute name="class" type="xs:string"/>
					<xs:attribute name="onMouseOver" type="xs:string"/>
					<xs:attribute name="onMouseOut" type="xs:string"/>
					<xs:attribute name="section" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="location" type="xs:NMTOKEN" use="required"/>
	</xs:complexType>
	<xs:element name="title">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="image"/>
				<xs:element ref="text"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="menu">
		<xs:annotation>
			<xs:documentation>Menu principal das paginas</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="inner-menu">
					<xs:attribute name="userstatus" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="logged"/>
								<xs:enumeration value="notlogged"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="mini-menu" type="inner-mini-menu"/>
	<xs:complexType name="inner-destaque">
		<xs:sequence>
			<xs:element ref="title"/>
			<xs:element ref="body"/>
			<xs:element ref="image" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="inner-body">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="link" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="body" type="inner-body"/>
	<xs:complexType name="inner-article">
		<xs:sequence>
			<xs:element ref="title"/>
			<xs:element ref="body"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="article" type="inner-article"/>
	<xs:element name="right-area">
		<xs:annotation>
			<xs:documentation>A right-area corresponde a area a direita da tela, no leiaute da pagina, onde ficam destaques graficos com links e etc.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="logado">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="destaque" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="nlogado">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="destaque" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="destaque">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="inner-destaque">
					<xs:attribute name="bodybgcolor" type="xs:string" use="required"/>
					<xs:attribute name="titlebgcolor" type="xs:string" use="required"/>
					<xs:attribute name="height" type="xs:integer" use="required"/>
					<xs:attribute name="width" type="xs:integer"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="center-area">
		<xs:annotation>
			<xs:documentation>A center-area corresponde a area central do leiaute da pagina</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nlogado">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="article" minOccurs="0"/>
							<xs:element ref="destaque" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element ref="image" minOccurs="0"/>
							<xs:element ref="imageFlash" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="logado" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="destaque" maxOccurs="unbounded"/>
							<xs:element ref="teaser-box" maxOccurs="unbounded"/>
							<xs:element name="banner" type="imageType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ad-mainType">
		<xs:sequence>
			<xs:element name="bg-image" type="imageType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="imageType">
		<xs:attribute name="src" type="xs:string" use="required"/>
		<xs:attribute name="alt" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="width" type="xs:int"/>
		<xs:attribute name="height" type="xs:int"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="top"/>
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border" type="xs:int"/>
		<xs:attribute name="hspace" type="xs:int"/>
		<xs:attribute name="vspace" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="linkType">
		<xs:choice>
			<xs:element ref="image"/>
			<xs:element ref="text"/>
		</xs:choice>
		<xs:attribute name="href" type="xs:string" use="required"/>
		<xs:attribute name="type" type="xs:NMTOKEN"/>
		<xs:attribute name="class" type="xs:string"/>
		<xs:attribute name="onMouseOver" type="xs:string"/>
		<xs:attribute name="onMouseOut" type="xs:string"/>
		<xs:attribute name="onclick" type="xs:string"/>
	</xs:complexType>
	<xs:element name="imageFlash">
		<xs:complexType>
			<xs:attribute name="movie" type="xs:string" use="required"/>
			<xs:attribute name="width" type="xs:string" use="required"/>
			<xs:attribute name="height" type="xs:string" use="required"/>
			<xs:attribute name="page" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="teaser-box">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element name="teaser" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="image" minOccurs="0"/>
							<xs:element ref="text" minOccurs="0"/>
							<xs:element ref="link" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="titlebgcolor" type="xs:string" use="required"/>
			<xs:attribute name="bodybgcolor" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
